<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<clear />
		<add key="GoogleApiKey" value="AIzaSyDY05dn77Vgx3sOBlPX7tx2b-Dcq_9LG3E" />
		<add key="GoogleCx" value="3c593749587915245" />
	</appSettings>
</configuration>